@import "font-awesome";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #4070f4;
  --primary-alpha-color: rgba(64, 112, 244, 0.7);
  --danger-color: #C62828;
  --success-color: #2E7D32;
  --full-dark: #242424;
  --dark: #2b2a33;
  --dark-alt: #34333b;
  --ink-medium: #eeeeee91;
  --progress-right: 0;
}




* {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

@font-face {
  font-family: "beautiful";
  src: url("@/assets/The\ Beautiful\ Night.ttf");
}

textarea {
  background-color: var(--dark);
  color: white;
}

a {
  text-decoration: none;
  color: var(--ink-medium);
}

.mb-1 {
  margin-bottom: 1rem;
}

.me-1 {
  margin-right: 1rem;
}

.w-100 {
  width: 100%;
}

.flex-grow-1 {
  flex-grow: 1;
}

@media (prefers-color-scheme: light) {}

.success-badge {
  background-color: var(--success-color);
  border-radius: 50%;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

.info-badge {
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 2rem;
  padding: 0.25rem 1rem;
  color: white;
}